<div>
	<style>
		.array-control-list {
			border-spacing: 1px;
			border-collapse: separate;
		}

		.array-control-list > div > div {
			padding: 2px 5px;
			background: #f8f8f8;
		}
	</style>
	<div name="list-items" class="table w100 array-control-list"></div>
</div>