<div class="array-control-list-item">
	<div><%= item %></div>
	<div style="width: 30px; text-align: center"><div name="remove-button" class="icon-remove" data-index="<%= index %>" data-item="<%= Html.encode(item) %>"></div></div>
</div>