@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto/Roboto-Light-webfont.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto/Roboto-Regular-webfont.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto/Roboto-Medium-webfont.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto/Roboto-Bold-webfont.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto/Roboto-Italic-webfont.woff') format('woff');
    font-style: italic;
}

input, select, textarea, label, button {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: roboto, arial;
    font-weight: normal;
    line-height: normal;
}