.menu-form {
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 30px;
    line-height: 65px;
    vertical-align: middle;
}

.mini-logo {
    font-size: 20px;
}

.mini-logo span {
    color: #f00;
    font-size: 25px;
}

.menu-item {
    margin-left: 40px;
    cursor: pointer;
}

.menu-item.active {
    border-bottom: 2px solid  #f00;
}

.th-user-fullname {
    margin-right: 40px;
    color: #777;
}

.exit-btn {
    cursor: pointer;
}