<div class="flex-auto flex flex-column num-keyboard">
    <div class="num-keyboard-row flex-auto flex">
        <div class="flex-auto num-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd" data-key="1">1</div>
        <div class="flex-auto num-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd" data-key="2">2</div>
        <div class="flex-auto num-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd" data-key="3">3</div>
    </div>
    <div class="num-keyboard-row flex-auto flex">
        <div class="flex-auto num-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd" data-key="4">4</div>
        <div class="flex-auto num-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd" data-key="5">5</div>
        <div class="flex-auto num-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd" data-key="6">6</div>
    </div>
    <div class="num-keyboard-row flex-auto flex">
        <div class="flex-auto num-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd" data-key="7">7</div>
        <div class="flex-auto num-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd" data-key="8">8</div>
        <div class="flex-auto num-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd" data-key="9">9</div>
    </div>
    <div class="num-keyboard-row flex-auto flex">
        <div class="flex-auto num-symbol zero-symbol" on-click="onKeyTouchEnd" on-touchstart="onKeyTouchStart" on-touchend="onKeyTouchEnd"
             data-key="0">0</div>
    </div>
    <div class="keyboard-style"></div>
</div>