<div class="ts-popup">

    <div class="flex wh100">

        <div class="container" name="body-container">

            <div class="flex header">

                <div name="title" class="flex-item title"></div>

                <div class="flex-auto">
                    <div class="close-button" name="close-btn">Закрыть</div>
                </div>
            </div>

            <div name="container"></div>
        </div>

    </div>

</div>